<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Solicitud Auto</ion-title>
    <ion-buttons slot="end">
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>User-Admin</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <h2>{{viaje.destino}}</h2>
        <p>Inicio viaje: {{viaje.inicio}}</p>
        <p>Hora: {{ viaje.hora }}</p>
        <p>Costo: ${{ viaje.costo }}</p>
        <p>Disponibles: {{ viaje.disponibles }}/{{ viaje.capacidad }}</p>
      </ion-label>
      <ion-button (click)="solicitarViaje(viaje.id)" [disabled]="viaje.disponibles === 0">
        Solicitar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
