<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        Servicios
      </ion-tab-button>
      <ion-tab-button tab="cloud">
        <ion-icon name="cloud"></ion-icon>  
        Ayuda
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
