<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="user-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        Servicios
      </ion-tab-button>
      <ion-tab-button tab="cloud">
        <ion-icon name="cloud"></ion-icon>
        Ayuda
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

<ion-menu side="end" menuId="user-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Usuario</ion-title>
      <ion-buttons slot="end">
        <ion-menu-toggle auto-hide="false">
          <ion-icon name="close"></ion-icon>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="path/to/user-avatar.png" alt="User Avatar"/>
        </ion-avatar>
        <ion-label>
          <h2>Nombre del Usuario</h2>
        </ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        Cerrar Sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
