<ion-header>
  <ion-toolbar>
    <ion-title>Solicitar Auto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <p>Destino: {{viaje.destino}}</p>
        <p>Inicio viaje: {{viaje.inicio}}</p>
        <p>Hora: {{ viaje.hora }}</p>
        <p>Costo: ${{ viaje.costo }}</p>
        <p>Disponibles: {{ viaje.disponibles }}/{{ viaje.capacidad }}</p>
      </ion-label>
      <ion-button (click)="solicitarViaje(viaje.id)" [disabled]="viaje.disponibles === 0">
        Solicitar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>


<ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          Servicios
        </ion-tab-button>
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          Inicio
        </ion-tab-button>
        <ion-tab-button tab="cloud">
          <ion-icon name="cloud"></ion-icon>
          Ayuda
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>

