<ion-header>
  <ion-toolbar>
    <ion-title>Inline Modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" (click)="setOpenPerfil(true)">Perfil</ion-button>
  <ion-modal [isOpen]="isPerfilModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Tu Perfil</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenPerfil(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <mat-accordion>
          <mat-expansion-panel [(expanded)]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Información del Usuario
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput [(ngModel)]="user.name" name="name" placeholder="Escribe tu nombre aquí">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput type="email" [(ngModel)]="user.email" name="email" placeholder="Escribe tu correo aquí">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput type="tel" [(ngModel)]="user.phone" name="phone" placeholder="Escribe tu teléfono aquí">
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-content>

      <ion-content class="ion-padding">
        <mat-accordion>
          <mat-expansion-panel [(expanded)]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Seguridad
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput [(ngModel)]="user.name" name="name" placeholder="Escribe tu nombre aquí">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput type="email" [(ngModel)]="user.email" name="email" placeholder="Escribe tu correo aquí">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput type="tel" [(ngModel)]="user.phone" name="phone" placeholder="Escribe tu teléfono aquí">
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-button expand="block" (click)="setOpenBilletera(true)">Billetera</ion-button>
  <ion-modal [isOpen]="isBilleteraModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Tu Billetera</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenBilletera(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Contenido de la billetera. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae
          ducimus quos reprehenderit.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-button expand="block" (click)="setOpenConfiguracion(true)">Configuración</ion-button>
  <ion-modal [isOpen]="isConfiguracionModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Configuración Aplicacion</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenConfiguracion(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
